@tailwind base;
@tailwind components;
@tailwind utilities;
/* app/globals.css */
:root {
  --font-poppins: "Poppins", sans-serif;
}
.drop-down,
.ant-dropdown-menu {
  padding: 0px !important;
  border-radius: 5px !important;
}
.drop-down,
.ant-dropdown-menu-item {
  border-radius: 0px !important;
}
.ant-modal {
  width: 100% !important;
  height: 100vh !important;
  border-radius: 0px !important;
  top: 0px !important;
  padding: 0px !important;
  max-width: 100% !important;
  margin: 0px !important;
}
.ant-modal-content {
  height: 100vh !important;
  border-radius: 0px !important;
}
body {
  font-family: var(--font-poppins);
}
